<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Insumos</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/insumos/listar" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Insumos</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert"></div> 
	        	
	            <form th:action="${insumo.id == null} ? @{/insumos/salvar} : @{/insumos/editar}" 
	                  th:object="${insumo}" method="POST">
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Insumo</label>
	                        <input type="text" class="form-control" id="nome"
	                               placeholder="Nome insumo" autofocus="autofocus" th:field="*{nome}"/>
	                    </div>
					<div class="form-group col-md-6">
	                        <label for="unidadeMedida">Peso Total</label>
	                        <input type="text" class="form-control" id="unidadeMedida"
	                               placeholder="Quantidade insumo" th:field="*{unidadeMedida}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                </div>
	                <input type="hidden" id="id" th:field="*{id}"/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
</body>
</html>
