<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Lista de Receitas</span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" href="/receitas/cadastrar"
				role="button"> <span class="oi oi-plus" title="Cadastro"
				aria-hidden="true"></span> <span>Nova Receita</span>
			</a>
		</nav>

		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Receita</th>
							<th>Preço Total</th>
							<th>Preço Unitário</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="in : ${receitas}">
							<td th:text="${in.id}"></td>
							<td th:text="${in.nome}"></td>
							<td th:text="${#numbers.formatCurrency(in.custoTotal)}"></td>
							<td th:text="${#numbers.formatCurrency(in.custoUnitario)}"></td>

							<td><a class="btn btn-info btn-sm"
								th:href="@{/receitas/editar/{id}(id=${in.id})}"> <span
									class="oi oi-brush"></span>
							</a>

								<button
									th:id="${#strings.concat('btn_receitas/excluir/', in.id)}"
									class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#myModal">
									<span class="oi oi-circle-x"></span>
								</button></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>

	</section>
</body>
</html>
