<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i
					class="oi oi-home"></i> <span>Início</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills flex-column">
			<li class="nav-item"><a
				class="nav-link d-flex justify-content-between align-items-center"
				data-bs-toggle="collapse" href="#menuVendas" role="button"
				aria-expanded="false" aria-controls="menuVendas"> <span><i
						class="oi oi-box"></i> Vendas</span> <i class="oi oi-chevron-bottom"></i>
			</a></li>

			<div class="collapse ps-3" id="menuVendas">
				<ul class="nav flex-column mt-1">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/vendas/pdv}"> <i class="oi oi-cart"></i> <span>PDV</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/vendas/listar">
							<i class="oi oi-spreadsheet"></i> <span>Listar Vendas</span>
					</a></li>
				</ul>
			</div>
		</ul>

		<ul class="nav nav-pills flex-column">
			<li class="nav-item"><a
				class="nav-link d-flex justify-content-between align-items-center"
				data-bs-toggle="collapse" href="#menuProdutos" role="button"
				aria-expanded="false" aria-controls="menuProdutos"> <span><i
						class="oi oi-box"></i> Produtos</span> <i class="oi oi-chevron-bottom"></i>
			</a></li>

			<div class="collapse ps-3" id="menuProdutos">
				<ul class="nav flex-column mt-1">
					<li class="nav-item"><a class="nav-link"
						href="/produtos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/produtos/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar</span>
					</a></li>
				</ul>
			</div>
		</ul>
		<ul class="nav nav-pills flex-column">

			<!-- Item principal Insumo com submenu -->
			<li class="nav-item"><a
				class="nav-link d-flex justify-content-between align-items-center"
				data-bs-toggle="collapse" href="#menuInsumos" role="button"
				aria-expanded="false" aria-controls="menuInsumos"> <span><i
						class="oi oi-spreadsheet"></i> Insumos Geral </span> <i
					class="oi oi-chevron-bottom"></i>
			</a></li>

			<!-- Submenu principal Insumo -->
			<div class="collapse ps-3" id="menuInsumos">
				<ul class="nav flex-column mt-1">

					<!-- Subcategoria Insumo -->
					<li class="nav-item"><a
						class="nav-link d-flex justify-content-between align-items-center"
						data-bs-toggle="collapse" href="#submenuInsumo" role="button"
						aria-expanded="false" aria-controls="submenuInsumo"> <span><i
								class="oi oi-box"></i> Insumo</span> <i class="oi oi-chevron-bottom"></i>
					</a>
						<div class="collapse ps-3" id="submenuInsumo">
							<ul class="nav flex-column mt-1">
								<li><a class="nav-link" href="/insumos/cadastrar">Cadastrar
										Insumo</a></li>
								<li><a class="nav-link" href="/insumos/listar">Listar
										Insumos</a></li>
							</ul>
						</div></li>

					<!-- Subcategoria Tabela Nutricional -->
					<li class="nav-item"><a
						class="nav-link d-flex justify-content-between align-items-center"
						data-bs-toggle="collapse" href="#submenuTabelaNutricional"
						role="button" aria-expanded="false"
						aria-controls="submenuTabelaNutricional"> <span><i
								class="oi oi-list"></i> Tabela Nutricional</span> <i
							class="oi oi-chevron-bottom"></i>
					</a>
						<div class="collapse ps-3" id="submenuTabelaNutricional">
							<ul class="nav flex-column mt-1">
								<li><a class="nav-link"
									href="/insumos/tabela-nutricional/cadastrar">Cadastrar
										Tabela Nutricional</a></li>
								<li><a class="nav-link"
									href="/insumos/tabela-nutricional/listar">Listar Tabelas
										Nutricionais</a></li>
							</ul>
						</div></li>

					<!-- Subcategoria Receita -->
					<li class="nav-item"><a
						class="nav-link d-flex justify-content-between align-items-center"
						data-bs-toggle="collapse" href="#submenuReceita" role="button"
						aria-expanded="false" aria-controls="submenuReceita"> <span><i
								class="oi oi-book"></i> Receita</span> <i class="oi oi-chevron-bottom"></i>
					</a>
						<div class="collapse ps-3" id="submenuReceita">
							<ul class="nav flex-column mt-1">
								<li class="nav-item"><a class="nav-link"
									href="/receitas/cadastrar">Cadastrar Receita</a></li>
								<li class="nav-item"><a class="nav-link"
									href="/receitas/listar">Listar Receitas</a></li>
							</ul>
						</div></li>
				</ul>
			</div>

		</ul>

		<ul class="nav nav-pills flex-column">
			<li class="nav-item"><a
				class="nav-link d-flex justify-content-between align-items-center"
				data-bs-toggle="collapse" href="#menuCategorias" role="button"
				aria-expanded="false" aria-controls="menuCategorias"> <span><i
						class="oi oi-tags"></i> Categorias</span> <i class="oi oi-chevron-bottom"></i>
			</a></li>

			<div class="collapse ps-3" id="menuCategorias">
				<ul class="nav flex-column mt-1">
					<li class="nav-item"><a class="nav-link"
						href="/categorias/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/categorias/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar</span>
					</a></li>
				</ul>
			</div>
		</ul>
		<ul class="nav nav-pills flex-column">
			<li class="nav-item"><a
				class="nav-link d-flex justify-content-between align-items-center"
				data-bs-toggle="collapse" href="#menuDepartamentos" role="button"
				aria-expanded="false" aria-controls="menuDepartamentos"> <span><i
						class="oi oi-briefcase"></i> Departamentos</span> <i
					class="oi oi-chevron-bottom"></i>
			</a></li>

			<div class="collapse ps-3" id="menuDepartamentos">
				<ul class="nav flex-column mt-1">
					<li class="nav-item"><a class="nav-link"
						href="/departamentos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/departamentos/listar"> <i class="oi oi-spreadsheet"></i>
							<span>Listar</span>
					</a></li>
				</ul>
			</div>
		</ul>

		<ul class="nav nav-pills flex-column">
			<li class="nav-item"><a
				class="nav-link d-flex justify-content-between align-items-center"
				data-bs-toggle="collapse" href="#menuCargos" role="button"
				aria-expanded="false" aria-controls="menuCargos"> <span><i
						class="oi oi-people"></i> Cargos</span> <i class="oi oi-chevron-bottom"></i>
			</a></li>

			<div class="collapse ps-3" id="menuCargos">
				<ul class="nav flex-column mt-1">
					<li class="nav-item"><a class="nav-link"
						href="/cargos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/cargos/listar">
							<i class="oi oi-spreadsheet"></i> <span>Listar</span>
					</a></li>
				</ul>
			</div>
		</ul>

		<ul class="nav nav-pills flex-column">
			<li class="nav-item"><a
				class="nav-link d-flex justify-content-between align-items-center"
				data-bs-toggle="collapse" href="#menuFuncionarios" role="button"
				aria-expanded="false" aria-controls="menuFuncionarios"> <span><i
						class="oi oi-person"></i> Funcionários</span> <i
					class="oi oi-chevron-bottom"></i>
			</a></li>

			<div class="collapse ps-3" id="menuFuncionarios">
				<ul class="nav flex-column mt-1">
					<li class="nav-item"><a class="nav-link"
						href="/funcionarios/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/funcionarios/listar"> <i class="oi oi-spreadsheet"></i>
							<span>Listar</span>
					</a></li>
				</ul>
			</div>
		</ul>
	</nav>
</body>
</html>
