<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Produtos</span></li>
				</ul>
			</div>
			<a class="btn btn-novo-listar btn-md" href="/produtos/listar"
				role="button"> <span class="oi oi-spreadsheet"></span> <span>Listar
					Produtos</span>
			</a>
		</nav>

		<div class="container" id="cadastro">
			<div th:replace="fragments/alert"></div>

			<form
				th:action="${produto.id == null} ? @{/produtos/salvar} : @{/produtos/editar}"
				th:object="${produto}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Nome do Produto</label> <input type="text"
							class="form-control" th:field="*{name}" autofocus />
					</div>

					<div class="form-group col-md-6">
						<label>Código</label> <input type="text" class="form-control"
							th:field="*{code}" required />
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Preço (R$)</label> <input type="text" class="form-control"
							th:field="*{price}" />
					</div>

					<div class="form-group col-md-4">
						<label>Unidade de Medida</label> <select
							th:field="*{unidadeDeMedida}" class="form-control">
							<option value="">Selecione</option>
							<option th:each="u : ${unidades}" th:value="${u}"
								th:text="${u.descricao}"></option>
						</select>
					</div>

					<div class="form-group col-md-4">
						<label>Quantidade em Estoque</label> <input type="number"
							class="form-control" min="0" step="any" th:field="*{stock}" />
					</div>

					<div class="form-group col-md-4">
						<label>Categoria</label> <select class="form-control"
							th:field="*{categoria}">
							<option value="">Selecione</option>
							<option th:each="d : ${categorias}" th:value="${d.id}"
								th:text="${d.nome}"></option>
						</select>
					</div>
				</div>

				<input type="hidden" th:field="*{id}" />

				<button type="submit" class="btn btn-novo-listar btn-md">
					Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>
